.inputStyle input {
    font: inherit;
    border: 1px solid grey;
    border-radius: 7px;
    width: 20rem;
    max-width: 100%;
    padding: 0.2rem 0.5rem;
  }

  .errorText {
    color: #ca3e51;
    font-weight: bold;
    padding-left: 1px;
    height: 20px;
  }
  
  .inputInvalid {
    border-color: #ca3e51;
    background-color: rgb(241, 217, 216, 0.5);
  }

  .modal{
    top: 30%;
    display: block;
  }
  .modal-body{
    padding-bottom: 0;
  }
  .modal-backdrop{
    opacity: .75;
  }
  .btn-outline-secondary{
    width: 170px;
  }